
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}



body{

    font-family:Arial, Helvetica, sans-serif;

    background:#1c1b1b;

    overflow:hidden;

}


.fundo{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background-image:
    linear-gradient(rgba(255,255,255,.04) 1px,transparent 1px),
    linear-gradient(90deg,rgba(255,255,255,.04) 1px,transparent 1px);

    background-size:40px 40px;

    animation:moverGrid 2s linear infinite;

    z-index:-1;

}

@keyframes moverGrid{

    from{

        background-position:0 0;

    }

    to{

        background-position:40px 40px;

    }

}

.container{

    width:100%;
    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:20px;

}


.janela{

    width:500px;
    max-width:800px;

    padding:40px;

    display:flex;

    flex-direction:column;

    align-items:center;

    background:rgba(25,25,25,.75);

    backdrop-filter:blur(15px);

    border-radius:20px;

    border:1px solid rgba(255,255,255,.08);

    box-shadow:0 20px 60px rgba(0,0,0,.4);

}


h1{

    color:white;

    margin-bottom:30px;

    font-size:52px;

}


input{

    width:100%;

    height:50px;

    border:none;

    border-radius:10px;

    background:#5d5d63;

    color:white;

    font-size:16px;

    padding:0 15px;

    outline:none;

}

input::placeholder{

    color:#d1d1d1;

}


#gerar{

    width:220px;

    height:50px;

    margin-top:20px;

    border:none;

    border-radius:10px;

    background:#3b82f6;

    color:white;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:.25s;

}

#gerar:hover{

    background:#2563eb;

    transform:translateY(-2px);

}

/* QR */

.resultado{

    width:220px;

    height:220px;

    margin-top:35px;

    display:flex;

    justify-content:center;

    align-items:center;

}

.resultado img{

    width:220px;

    display:block;

}

/* DOWNLOAD */

#download{

    display:none;

    width:220px;

    height:50px;

    margin-top:20px;

    border:none;

    border-radius:10px;

    background:#2563eb;
    
    color:white;

    font-size:17px;

    font-weight:bold;

    cursor:pointer;

    transition:.25s;

}

#download:hover{

    background:#2563eb;
    transform:translateY(-2px);

}
